openapi: 3.2.0
info:
  title: Vectara REST Tools API
  description: 'Vectara REST API v2 is the unified interface for the Vectara Retrieval Augmented

    Generation (RAG) platform.'
  version: '2.0'
  contact:
    name: Vectara Support
    url: https://docs.vectara.com/docs/support
  license:
    name: Proprietary
servers:
- url: https://api.vectara.io
  description: Vectara REST API production base URL
- url: https://auth.vectara.io
  description: Vectara OAuth 2.0 token endpoint
security:
- ApiKeyAuth: []
- OAuth2: []
tags:
- name: Tools
  description: Manage tools and tool servers used by agents.
paths:
  /v2/tools:
    get:
      tags:
      - Tools
      summary: List Tools
      operationId: listTools
      responses:
        '200':
          description: Tools.
    post:
      tags:
      - Tools
      summary: Create A Tool
      operationId: createTool
      responses:
        '201':
          description: Tool created.
  /v2/tool-servers:
    get:
      tags:
      - Tools
      summary: List Tool Servers
      operationId: listToolServers
      responses:
        '200':
          description: Tool servers.
    post:
      tags:
      - Tools
      summary: Register A Tool Server
      operationId: createToolServer
      responses:
        '201':
          description: Tool server registered.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Vectara API key passed in the `x-api-key` header.
    OAuth2:
      type: oauth2
      description: OAuth 2.0 client credentials flow.
      flows:
        clientCredentials:
          tokenUrl: https://auth.vectara.io/oauth2/token
          scopes: {}
